@font-face {
  font-family: "social-icon-font";
  src: url("https://assets.squarespace.com/universal/fonts/social-20141119/social-icon-font.eot");
  src: url("https://assets.squarespace.com/universal/fonts/social-20141119/social-icon-font.eot?#iefix")
      format("embedded-opentype"),
    url("//assets.squarespace.com/universal/fonts/social-20141119/social-icon-font.woff")
      format("woff"),
    url("//assets.squarespace.com/universal/fonts/social-20141119/social-icon-font.ttf")
      format("truetype"),
    url("//assets.squarespace.com/universal/fonts/social-20141119/social-icon-font.svg#social-icon-font")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "address-sans-pro-condensed";
  src: url("/WebsiteClone/assets/Fonts/address-sans-pro-condensed.woff2")
    format("woff2");
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptsg8zYS_SKggPNyCg4TYFqL_KWxQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_cqDptfpA4cD3.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #171715;
}



.logo {
  padding-top: 85px;
  display: flex;
  justify-content: center;
}

.moon {
  background: transparent url(assets/hero-new02-02_R-02-02new.jpg) no-repeat
    fixed center;
  background-size: 115%;
  height: 100vh;
}

.blue {
  min-height: 100vh;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #243446 url(assets/Logo_Original-11+3.png) no-repeat 80% 90%;
}

.services {
  margin-top: 160px;
  background-color: white;
  width: 500px;
  max-height: 560px;
  padding-top: 20;
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
  top: 20px;
  right: 90px;
 
}

.waves {
  margin-top: 155px;
  margin-left: 65px;
}

.green {
  background-color: #99a59c;
  background-image: url(assets/Logo_Original-13.png);
  margin-top: -26px;
  margin-bottom: -26px;
}

.aboutMe {
  left: 150px;
}

.picture {
  margin-right: 140px;
}

.express {
  top: -30px;
  right: -350px;
}

.grey {
  background-color: #e0e3e9;
  background-image: url(assets/Logo_Original-12.png);
  margin-bottom: -100px;
}

.form {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 50px;
  flex-grow: 2;
}
.map {
  margin-top: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  flex-grow: 1;
}
.span {
  white-space: nowrap;
}
.names {
  display: inline-block;
}

.names:last-child {
  margin-left: 10px;
}

input {
  height: 40px;
}

.names input {
  width: 250px;
}
.fontSize {
  font-size: 11px;
}

textarea {
  width: 100%;
}

.form-items {
  width: 100%;
}

.expand {
  align-self: flex-end;
  position: relative;
  top: 80px;
  right: 200px;
  overflow: visible;
}
.footer {
  padding-top: 40px;
  width: auto;
  height: 300px;
  background-color: black;
}
.center {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.2em;
  font-size: 43px;
  color: #283a4d;
}

p,
li {
  font-family: "Work Sans";
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.6em;
  font-size: 13px;
  color: #283a4d;
}

contact {
  color: #243343;
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
  letter-spacing: 0.01em;
  line-height: 1.2em;
  text-transform: none;
}

label {
  font-family: address-sans-pro-condensed;
  color: #243343;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.button {
  border: 2px solid #283a4d;
  background-color: transparent;
  height: 40px;
  width: 130px;
  cursor: pointer;
  color: #283a4d;
  font-size: 15px;
  font-weight: 900;
}

.button:hover {
  background-color: #283a4d;
  color: white;
  transition: 0.1s background-color linear, 0.1s color linear;
}

.list {
  list-style: none;
  padding-left: 0;
  color: #243343;
}

.text {
  border: 1px solid #cccccc;
}
